.main {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    @media (max-width: 600px) {
        flex-direction: column;        
    }
    .footer-mobile-set {
        font-family: 'Fira-light';
        color: #3DCFB6;
        font-size: 18px;
        display: none;
        @media (max-width: 600px) {
            display: flex;
            
        }
    }
}

.footer-main-cont {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    @media (min-width: 1921px) {
        width: 1672px;
      }
      @media (min-width: 3000px) {
        width: 2472px;
      }
    .info {
        height: 126px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 16px;
        @media (min-width: 1921px) {
            height: auto;
            gap: 20px;
        }
        .logo {
            svg {
                @media (min-width: 1921px) {
                    width: 348px;
                    height: auto;
                }
            }
        }
    }
    .profession {
        display: flex;
        flex-direction: column;
        gap: 16px;
        span {
            font-family: 'Karla-light';
            font-size: 16px;
            color: white;
            @media (min-width: 1921px) {
                font-size: 32px;
            }
            @media (min-width: 3000px) {
                font-size: 32px;
            }
        }
    }
    .copyright {
        font-family: 'Fira-light';
        color: #3DCFB6;
        font-size: 18px;
        @media (max-width: 600px) {
            display: none;
        }
        @media (min-width: 1921px) {
            font-size: 32px;
        }
    }
    .links {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        gap: 8px;
        .link-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            &:hover .circle {
                background-color: rgba(61, 207, 182, 1);
            }
            .circle {
                border-radius: 100%;
                width: 6.4px;
                height: 6.4px;
                background-color: rgba(61, 207, 182, 0);
            }
        }
        a {
            text-decoration: none;
            font-family: 'Karla-light';
            font-size: 16px;
            color: white;
            font-family: 'Karla-light';
            line-height: 19.2px;
            @media (min-width: 1921px) {
                font-size: 32px;
                line-height: 32px;
            }
            @media (min-width: 1921px) {
                font-size: 32px;
                line-height: 32px;
            }
        }
    }
}

