<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /dabubble/angular-projects/DABubble/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /dabubble/index.html [L]
</IfModule>