<IfModule mod_mime.c>
  AddType audio/mp4 .m4a
  AddType video/mp4 .mp4 .m4v
  AddType application/font-woff .woff
  AddType application/font-woff2 .woff2
  AddType application/vnd.ms-fontobject .eot
  AddType font/ttf .ttf
  AddType font/otf .otf
  AddType application/javascript .js
  AddType text/css .css
  AddEncoding gzip .svgz
  AddType image/svg+xml .svg
  <FilesMatch "\.svg$">
    AddType "image/svg+xml" .svg
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /assets/projects/dabubble/
  
  # Always stop if it's a real file
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]
  
  # Always stop if it's a real directory
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  
  # Rewrite everything else to index.html for SPA routing
  RewriteRule ^(?!index\.html$)(.*)$ index.html [L]
</IfModule>