<div class="marquee-cont">
    <div class="marquee">
      <span class="bullet">&bull;</span>
      <p>Frontend Developer</p>
      <span class="bullet">&bull;</span>
      <p>Based in Karlsruhe</p>
      <span class="bullet">&bull;</span>
      <p>Open to work</p>
      <span class="bullet">&bull;</span>
      <p>Available for remote work</p>
      <span class="bullet">&bull;</span>
    </div>
    <div class="marquee">
      <p>Frontend Developer</p>
      <span class="bullet">&bull;</span>
      <p>Based in Karlsruhe</p>
      <span class="bullet">&bull;</span>
      <p>Open to work</p>
      <span class="bullet">&bull;</span>
      <p>Available for remote work</p>
      <span class="bullet">&bull;</span>
    </div>
    <div class="marquee">
      <p>Frontend Developer</p>
      <span class="bullet">&bull;</span>
      <p>Based in Karlsruhe</p>
      <span class="bullet">&bull;</span>
      <p>Open to work</p>
      <span class="bullet">&bull;</span>
      <p>Available for remote work</p>
      <span class="bullet">&bull;</span>
    </div>
  </div>