<div class="marquee-cont">
    <div class="marquee">
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Frontend Entwicker</p>
      <p *ngIf="language.language == 'eng'">Frontend Developer</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Aus Karlsruhe</p>
      <p *ngIf="language.language == 'eng'">Based in Karlsruhe</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Offen für Arbeit</p>
      <p *ngIf="language.language == 'eng'">Open to work</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Verfügbar für Remote-Arbeit</p>
      <p *ngIf="language.language == 'eng'">Available for remote work</p>
      <span class="bullet">&bull;</span>
    </div>
    <div class="marquee">
      <p *ngIf="language.language == 'ger'">Frontend Entwickler</p>
      <p *ngIf="language.language == 'eng'">Frontend Developer</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Aus Karlsruhe</p>
      <p *ngIf="language.language == 'eng'">Based in Karlsruhe</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Offen für Arbeit</p>
      <p *ngIf="language.language == 'eng'">Open to work</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Verfügbar für Remote-Arbeit</p>
      <p *ngIf="language.language == 'eng'">Available for remote work</p>
      <span class="bullet">&bull;</span>
    </div>
    <div class="marquee">
      <p *ngIf="language.language == 'ger'">Frontend Entwickler</p>
      <p *ngIf="language.language == 'eng'">Frontend Developer</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Aus Karlsruhe</p>
      <p *ngIf="language.language == 'eng'">Based in Karlsruhe</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Offen für Arbeit</p>
      <p *ngIf="language.language == 'eng'">Open to work</p>
      <span class="bullet">&bull;</span>
      <p *ngIf="language.language == 'ger'">Verfügbar für Remote-Arbeit</p>
      <p *ngIf="language.language == 'eng'">Available for remote work</p>
      <span class="bullet">&bull;</span>
    </div>
  </div>