<div class="main" id="contact">
  <div class="contact-main-cont">
    <div class="contact-cont">
      <span *ngIf="language.language == 'ger'" class="small-headline"
        >Kontakt</span
      >
      <span *ngIf="language.language == 'eng'" class="small-headline"
        >Contact me</span
      >

      <h1 *ngIf="language.language == 'ger'">
        Lass uns <br />
        zusammenarbeiten
      </h1>
      <h1 *ngIf="language.language == 'eng'">
        Lets's work <br />
        together
      </h1>
      <div class="contact-des-cont">
        <span *ngIf="language.language == 'ger'" class="qeustion"
          >Gibt es ein Problem zu lösen?</span
        >
        <span *ngIf="language.language == 'eng'" class="qeustion"
          >Got a problem to solve?</span
        >
        <p *ngIf="language.language == 'eng'" class="small-para-thin">
          Contact me through this form, I am interested in hearing from you,
          knowing <br />
          your ideas and contributing to your projects with my work.
        </p>
        <p *ngIf="language.language == 'ger'" class="small-para-thin">
          Kontaktieren Sie mich über dieses Formular. Ich bin daran
          interessiert, von Ihnen zu hören,
          <br />
          Ihre Ideen kennenzulernen und mit meiner Arbeit zu Ihren Projekten
          beizutragen.
        </p>
        <div class="needfrontend">
          <p *ngIf="language.language == 'ger'" class="small-para-bold">
            Sie benötigen einen Frontend Entwickler?
          </p>
          <p *ngIf="language.language == 'eng'" class="small-para-bold">
            Need a Frontend developer?
          </p>

          <span
            *ngIf="language.language == 'ger'"
            class="small-para-bold"
            style="color: rgba(61, 207, 182, 1)"
            >Reden wir!</span
          >
          <span
            *ngIf="language.language == 'eng'"
            class="small-para-bold"
            style="color: rgba(61, 207, 182, 1)"
            >let's talk!</span
          >
        </div>
      </div>
    </div>
    <div class="form-cont">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-line-cont hov1">
          <div class="border-hover-first">
            <label *ngIf="language.language == 'ger'" for="name"
              >Wie ist Ihr Name?</label
            >
            <label *ngIf="language.language == 'eng'" for="name"
              >What's your name?</label
            >
            <input
              class="paragraph-no-opacity"
              type="text"
              id="name"
              name="name"
              [(ngModel)]="contactData.name"
              [placeholder]="placeholderName"
              (click)="resetInput()"
              required
            />
          </div>
        </div>
        <div class="form-line-cont hov2">
          <div class="border-hover border-hover-first">
            <label *ngIf="language.language == 'ger'" for="email"
              >Wie lautet Ihre Email?</label
            >
            <label *ngIf="language.language == 'eng'" for="email"
              >What's your email?</label
            >

            <input
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              class="paragraph-no-opacity"
              type="email"
              id="email"
              name="email"
              [(ngModel)]="contactData.email"
              [placeholder]="placeholderEmail"
              #email="ngModel"
              (click)="resetInput()"
              required
            />
          </div>
        </div>
        <div class="form-line-cont hov3">
          <div class="border-hover-last border-hover-first">
            <label *ngIf="language.language == 'ger'" for="Subject"
              >Wie kann ich Ihnen helfen?</label
            >
            <label *ngIf="language.language == 'eng'" for="Subject"
              >How can I help you?</label
            >
            <textarea
              class="paragraph-no-opacity"
              id="message"
              name="message"
              [(ngModel)]="contactData.message"
              [placeholder]="placeholderMessage"
              (click)="resetInput()"
              required
            ></textarea>
          </div>
        </div>
        <div class="checkbox-policy-main-cont">
          <div class="checkbox-cont-main">
            <div class="checkbox-cont">
              <input class="checkbox" id="checkbox" type="checkbox" required />
              <span class="checkmark"></span>
            </div>
            <div class="policy-text">
              <span *ngIf="language.language == 'ger'" class="condition"
                >Ich habe die
                <a routerLink="/privacy_policy">Datenschutzerklärung</a> gelesen
                und stimme ihr zu.
              </span>
              <span *ngIf="language.language == 'eng'" class="condition"
                >I've read the
                <a routerLink="/privacy_policy">privacy policy</a> and agree to
                the processing of my data as outlined.
              </span>
            </div>
          </div>
          <span
            *ngIf="language.language == 'ger'"
            class="error-msg d-none"
            id="error-msg"
          >
            Please accept the privacy policy.
          </span>
          <span
            *ngIf="language.language == 'eng'"
            class="error-msg d-none"
            id="error-msg"
          >
            Bitte akzeptieren Sie die Datenschutzerklärung.
          </span>
        </div>
        <div class="input-cont" (click)="checkInput()">
          <input class="submit" type="submit" value="" />
          <span *ngIf="language.language == 'ger'">Sag Hallo ;)</span>
          <span *ngIf="language.language == 'eng'">Say Hello ;)</span>
          <span class="hover-btn-element" *ngIf="language.language == 'ger'"
            >Sag Hallo ;)</span
          >
          <span class="hover-btn-element" *ngIf="language.language == 'eng'"
            >Say Hello ;)</span
          >
          <div class="send-msg-cont" [class.success]="emailSent"><div class="hook">✓</div><div class="hidde-cont"></div></div>
        </div>
      </form>
    </div>
  </div>
</div>
