.main {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  overflow: hidden;
  @media (min-width: 1921px) {
    padding-top: 100px;
  }
  .contact-main-cont {
    width: 90%;
    display: flex;
    @media (max-width: 900px) {
      flex-direction: column;
      gap: 64px;
      padding-top: 100px;
    }
    @media (min-width: 1921px) {
      width: 1672px;
      gap: 72px;
    }
    @media (min-width: 3000px) {
      width: 2472px;
    }
  }
}
.contact-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .contact-des-cont {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 1921px) {
      gap: 30px;
    }
    .needfrontend {
      display: flex;
      gap: 4px;
    }
    .qeustion {
      font-family: "Fira";
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #3dcfb6;
      @media (min-width: 3000px) {
        font-size: 44px;
        line-height: 44px;
      }
    }
    .small-para-thin {
      font-family: "Karla-light";
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
      @media (min-width: 1921px) {
        font-size: 28px;
        line-height: 30px;
      }
      @media (min-width: 3000px) {
        font-size: 39px;
        line-height: 52px;
      }
    }
    .small-para-bold {
      font-family: "Karla";
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
      @media (min-width: 1921px) {
        font-size: 28px;
        line-height: 30px;
      }
      @media (min-width: 3000px) {
        font-size: 44px;
        line-height: 44px;
      }
    }
  }
}

.form-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .email-success {
    position: absolute;
    color: #04ea27;
    width: 300px;
    height: 50px;
    left: calc(50% - 100px);
    bottom: 30px;
  }
}

.input-cont {
  position: relative;
  overflow: hidden;
  display: flex;
  position: relative;
  place-self: center;
  width: 139px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #1c1c1c00;
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Karla-light";
  font-size: 18px;
  justify-content: center;
  @media (min-width: 1921px) {
    width: 233px;
    height: 100px;
    font-size: 28px;
  }
  .send-msg-cont {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    color: #ffffff;
    bottom: 0;
    top: 0;
    width: 1%;
    border-radius: 100px;
    background-color: #3dcfb6;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease-out;
    animation-name: msgSent;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    .hook {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      color: #ffffff;
      bottom: 0;
      top: 0;
      font-size: 36px;
      transition: opacity 0.1s ease-in-out;
      z-index: 1;
      animation: hiddeCont;
      animation-fill-mode: forwards;
      animation-duration: 2s;
    }
    .hidde-cont {
      animation: hookAnimation;
      animation-fill-mode: forwards;
      animation-duration: 7s;
      border-radius: 100px;
      position: absolute;
      height: 0%;
      bottom: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #3dcfb6;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 6;
      transition: height 3s ease-in-out;
    }
  }
  @keyframes hiddeCont {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes msgSent {
    from {
      width: 1%;
    }
    to {
      width: 100%;
    }
  }
  @keyframes hookAnimation {
    from {
      height: 100%;
    }
    to {
      width: 0%;
    }
  }
  .success {
    display: flex !important;
  }

  .hover-btn-element {
    position: absolute;
    left: 326px;
    width: max-content;
    cursor: pointer;
    @media (min-width: 1921px) {
      left: 349px;
    }
  }
  &:hover span {
    color: #3dcfb6;
    transform: translateX(-300px);
  }
  input {
    cursor: pointer;
    background-color: #1c1c1c00;
    border: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
  }
  span {
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}

.input-error::placeholder {
  color: red;
}

/* Stile für alle Elemente */
.border-hover-first,
.border-hover,
.border-hover-last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 616px;
  height: 131px;
  border-bottom: 1px solid rgba(61, 207, 182, 0.5);
  @media (min-width: 3000px) {
    height: 245px;
  }
  @media (min-width: 1921px) {
    width: 100%;
    height: 200px;
  }
  @media (max-width: 680px) {
    width: auto;
  }
}

.border-hover-first {
  border-top: 1px solid rgba(61, 207, 182, 0.5);
}

.hov2:hover .border-hover {
  border-top: 1px solid #3dcfb6;
  border-bottom: 1px solid #3dcfb6;
}

.hov1:hover .border-hover-first {
  border-top: 1px solid #3dcfb6;
  border-bottom: 1px solid #3dcfb6;
}

.hov3:hover .border-hover-last {
  border-top: 1px solid #3dcfb6;
  border-bottom: 1px solid #3dcfb6;
}

.form-line-cont {
  cursor: pointer;
  label {
    font-family: "Fira";
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #3dcfb6;
    @media (min-width: 1921px) {
      font-size: 48px;
      line-height: 48px;
    }
    @media (min-width: 3000px) {
      font-size: 48px;
      line-height: 48px;
    }
  }
  input {
    outline: none;
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: rgba(0, 0, 0, 0);
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgba(118, 118, 118, 0), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
  }
  textarea {
    resize: none;
    background-color: #1c1c1c00;
    border: none;
    outline: none;
  }
}

.checkbox-policy-main-cont {
  position: relative;
  display: flex;
  gap: 16px;
  color: white;
  font-family: "Karla";
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-decoration-skip-ink: none;
  width: 616px;
  height: 131px;
  gap: 16px;
  align-items: center;
  @media (min-width: 1921px) {
    width: 100%;
  }
  .error-msg {
    align-self: flex-start;
    color: rgba(236, 123, 123, 1);
    font-family: "Karla-light";
    font-size: 14px;
    line-height: 16.8px;
    position: absolute;
    bottom: 5px;
  }
  .checkbox-main-cont {
    display: flex;
    flex-direction: column;
  }
  a {
    color: #3dcfb6;
    text-decoration: none;
  }
  .checkbox-cont {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #3dcfb700;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1921px) {
      height: 34px;
      width: 34px;
    }
    @media (min-width: 3000px) {
      height: 48px !important;
      width: 48px !important;
    }
    .checkbox {
      @media (min-width: 3000px) {
        height: 48px !important;
        width: 48px !important;
      }
      @media (min-width: 1921px) {
        height: 34px;
        width: 34px;
      }
    }
    &:hover {
      background-color: #3dcfb763;
      .checkbox {
        background-color: #3dcfb763;
      }
    }
    .checkmark {
      display: none;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      z-index: 1;
      align-self: center;
    }
    .checkmark::after {
      content: "✔"; /* Häkchen */
      font-size: 9px;
      color: #3dcfb6;
      background-color: #3dcfb700;
      @media (min-width: 1921px) {
        font-size: 24px;
      }
    }
  }

  .checkbox-cont-main {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-top: 40px;
    @media (min-width: 1921px) {
      gap: 24px;
    }
    .policy-text {
      @media (max-width: 900px) {
        display: flex;
        width: 270px;
      }
    }
    span {
      align-self: flex-start;
      @media (min-width: 1921px) {
        font-size: 24px;
      }
    }
    .condition {
      margin-left: 8px;
      @media (min-width: 1921px) {
        margin-left: 0px;
      }
      @media (min-width: 1921px) {
        font-size: 28px;
        line-height: 28px;
      }
      @media (min-width: 3000px) {
        font-size: 34px;
        line-height: 34px;
      }
    }
  }

  .checkbox {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    appearance: none;
    border: 2px solid #3dcfb6;
    cursor: pointer;
    background-color: #1c1c1c00;
    display: flex;
    justify-content: center;
    z-index: 999;
    &:checked + .checkmark {
      display: flex;
    }
  }
}
