.main-header-cont {
    height: 98px;
    max-width: 100%;
    background: url(/assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 96px 0 96px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @media (max-width: 600px) {
        padding: 0 10px 0 10px;
    }
    .menu-mobile {
        display: none;
        @media (max-width: 900px) {
            display: flex;
        }
        
    }
}

.choose-lang {
    width: 83px;
    height: 27px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(61, 207, 182, 1);
    align-items: center;
    &:hover {
        border: 1px solid rgb(255, 255, 255);
        .eng {
            border: 1px solid rgba(61, 207, 182, 1);
        }
    }
    .language {
        width: 43px;
        height: 27px;
        background-color: rgba(61, 207, 182, 1);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .eng {
        z-index: 999;
        border: 1px solid rgba(61, 207, 182, 1);
        border-radius: 50px 50px 50px 50px;
        pointer-events: none;

    }
    .ger {
        background-color: rgba(127, 255, 212, 0);
        border-radius: 50px 50px 50px 50px;
        color: rgba(61, 207, 182, 0.5);
        cursor: pointer;
    }
}

nav {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    @media (max-width: 900px) {
        display: none;
    }
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 105px;
    height: 35px;
    &:hover .circle {
        display: flex;
    }
    .circle {
        border-radius: 100%;
        width: 6.4px;
        height: 6.4px;
        background-color: rgba(61, 207, 182, 1);
        transform: translateY(5px);
        display: none;
    }
    a {
        text-decoration: none;
        font-family: 'Fira-light';
        font-size: 20px;
        font-weight: 400;
        line-height: 26.24px;
        letter-spacing: -0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 1);
    }
}

svg {
    .logo-name {
        @media (max-width: 900px) {
            display: none;
        }
    }
}

.mobile-main-cont {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7490196078);
    position: fixed;
    z-index: 1000;
}
.menu-mobile-cont {
    width: 238px;
    height: 252px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    border-radius: 30px;
    border: 1px solid rgba(61, 207, 182, 1);
    position: absolute;
    right: 50px;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .mobile-link-cont {
        width: 83px;
        font-family: 'Fira-light';
        font-size: 18px;
        font-weight: 400;
        line-height: 23.62px;
        letter-spacing: -0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
        }

    }


}