.main {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .arrow-back {
        position: absolute;
        top: 24px;
        right: 120px;
        @media (max-width: 800px) {
            right: 40px;
        }
        @media (max-width: 450px) {
            right: 20px;
        }
        svg {
            width: 35px;
            height: 35px;
            @media (max-width: 450px) {
                width: 25px;
                height: 25px;
            }
        }
    }
    p, ul, h3 {
        color: white;
        font-family: 'Karla';
    }
    .private-policy-cont {
        width: 90%;
        height: 45vh;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-x: hidden;
        position: relative;
        @media (min-width: 1921px) {
            width: 1920px;
        }
        .policy-title {
            @media (max-width: 800px) {
                font-size: 40px;
            }
            @media (max-width: 450px) {
                font-size: 30px;
            }
        }
        .section-title {
            @media (max-width: 800px) {
                font-size: 24px;
                text-align: start;
            }
            @media (max-width: 450px) {
                font-size: 18px;
            }
        }
        .policy-paragraph {
            @media (max-width: 800px) {
                font-size: 14px;
            }
            @media (max-width: 450px) {
                font-size: 14px;
            }
        }
    }
}