<div class="main" id="projects">
  <div class="portfolio-section">
    <div class="portfolio-cont">
      <span class="small-headline">Portfolio</span>
      <h1 *ngIf="language.language == 'ger'">Projekte</h1>
      <h1 *ngIf="language.language == 'eng'">Featured Projects</h1>

      <div class="help-cont">
        <span *ngIf="language.language == 'ger'" class="paragraph-no-opacity"
          >Entdecken Sie hier eine Auswahl meiner Arbeiten und interagieren Sie mit meinen Projekten,
          um meine Fähigkeiten in Aktion zu erleben.</span>
          <span *ngIf="language.language == 'eng'" class="paragraph-no-opacity"
          >Explore a selection of my work here - Interact with projects to see
          my skills in action.</span>
      </div>
      <div class="table-portfolioview-cont">
        <table style="width: 100%">
          <tbody>
            <tr (click)="onDivClick(i)" class="style-table dynamic-table{{ i }} color-hover" *ngFor="let project of projects; index as i">
              <td class="project-name-cont">{{ project.portfolio }} <img class="arrow-outward" src="assets/img/arrow_outward.png" alt=""></td>
              <td class="paragraph-no-opacity space">
                <span *ngFor="let tool of project.tools; index as y">
                  {{ tool }}
                  <span class="pipe" *ngIf="y != project.tools.length - 1">|</span>
                </span>
              </td>
              <td class="img-cont{{ i }}"><img src="assets/img/{{ i }}.png" alt="" class="view-img"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-big-screen [projects]="projects" [index]="selectedIndex" [isVisible]="isVisible" (isVisibleChange)="visibilityChange($event)" (renderIndex)="renderIndex($event)"></app-big-screen>
</div>
