<div class="main-window" [class.d-none]="!isVisible" (click)="closeMainContainer()">
  <div class="projekt-screen-cont" (click)="$event.stopPropagation()">
    <div class="project-info-cont" *ngIf="index != null">
      <h1 class="number-project" >{{ index + 1 | number : "2.0" }}</h1>
      <span class="projectname">{{ projects[index].portfolio }}</span>
      <span class="project-about">What is this project about?</span>
      <span class="paragraph-no-opacity ">
        {{ projects[index].description }}
      </span>
      <div class="tools-cont">
        <div class="tool" *ngFor="let tool of projects[index].tools">
          <img
            src="assets/img/skill_icons_small/{{ tool.toLowerCase() }}.png"
            alt=""
          />
          <span>{{ tool }}</span>
        </div>
      </div>
      <div class="project-buttons-cont">
        <div class="std-btn on-hover"><div class="inner-btn-cont"><span>GitHub</span><img src="assets/img/arrow_forward_blue.png" alt=""></div></div>
        <div class="std-btn on-hover"><div class="inner-btn-cont"><span>Live Test</span><img src="assets/img/arrow_forward_blue.png" alt=""></div></div>
      </div>
    </div>
    <div class="project-img-nav-cont">
      <img src="assets/img/close_small.png" alt="" />
      <img src="assets/img/project_img/{{ index }}.png" alt="" />
      <div class="next-cont">
        <span>Next project</span>
        <img src="assets/img/arrow_forward.png" alt="">
    </div>
    </div>
  </div>
</div>
