.main-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000000bf;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .projekt-screen-cont {
    @media (min-width: 1921px) {
      height: 730px;
    }
    @media (max-width: 960px) {
      flex-flow: column-reverse;
      height: auto;
      padding: 20px 0px 20px 0px;
      gap: 8px;
      width: 500px;
    }
    @media (max-width: 560px) {
      width: 300px !important;
    }
    width: 95%;
    height: 656px;
    background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
    border: 1px solid #3dcfb6;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 60px;
    .project-info-cont {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 50%;
      .project-paragraph {
        height: 80px;
        @media (max-width: 960px) {
          width: 300px;
        }
        @media (max-width: 560px) {
          width: 258px !important;
          height: 93px !important;
        }
        @media (max-width: 450px) {
          font-size: 14px !important;
        }
      }
      @media (max-width: 960px) {
        gap: 18px;
        width: 50%;
      }
      @media (max-width: 560px) {
        width: 80%;
      }
      .next-cont-mobile {
        display: none;
        cursor: pointer;
        font-family: 'Karla';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        text-decoration-skip-ink: none;
        color: #3dcfb6;
        @media (max-width: 960px) {
          display: flex;
          place-self: flex-end;
          color: #3dcfb6;
          gap: 10px;
        }
      }
      .project-buttons-cont {
        display: flex;
        width: 60%;
        justify-content: space-between;
        @media (min-width: 1921px) {
          width: 65%;
        }
        @media (max-width: 960px) {
          width: 100%;
        }
        img {
          margin-left: 4px;
          transition: transform 0.1s ease;
        }
      }
      .number-project {
        font-family: "KARLA";
        font-size: 128px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -0.02em;
        text-align: left;
        text-decoration-skip-ink: none;
        @media (max-width: 960px) {
          font-size: 60px;
          line-height: 60px;
        }
        @media (max-width: 450px) {
          font-size: 48px;
          line-height: 48px;
        }

      }
      .projectname {
        font-family: "Fira";
        font-size: 64px;
        font-weight: 700;
        line-height: 51.2px;
        letter-spacing: -0.03em;
        text-align: left;
        text-decoration-skip-ink: none;
        color: white;
        @media (max-width: 960px) {
          font-size: 34px;
          line-height: 34px;
          width: 260px;
        }
        @media (max-width: 480px) {
          font-size: 30px;
          line-height: 32px;
        }
      }
      .project-about {
        font-family: "Fira";
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: left;
        text-decoration-skip-ink: none;
        color: #3dcfb6;
        @media (max-width: 960px) {
          font-size: 20px;
          line-height: 24px;
        }
      }
      .tools-cont {
        display: flex;
        font-family: 'Karla-light';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
        gap: 16px;
        .tool {
          display: flex;
          align-items: center;
          gap: 8px;
          span {
            @media (min-width: 1921px) {
              font-size: 24px;
            }
            @media (max-width: 560px) {
              font-size: 12px;
            }
          }
          img {
            width: 32px;
            height: 32px;
            @media (max-width: 560px) {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }

  .project-img-nav-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-end;
    width: 50%;
    @media (max-width: 960px) {
      width: auto;
      gap: 20px;
    }
    .project-big-screen {
      @media (max-width: 1220px) {
        width: 400px;
      }
      @media (max-width: 960px) {
        width: 250px;
      }
      @media (max-width: 380px) {
        width: 150px;
      }
    }
    .close_img {
      cursor: pointer;
      transition: 0.3s;
      path {
        transition: fill 0.2s;
      }
      &:hover {
        transform: scale(1.4);
      }
      &:hover path {
        fill: #3dcfb6;
        width: 20px;
        height: 20px;
        }
    }
    .next-cont {
      @media (max-width: 960px) {
        display: none;
      }
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover img {
        transform: translate(4px);
      }
      &:hover span {
        color: white;
      }
      span {
        font-family: 'Karla';
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        text-decoration-skip-ink: none;
        color: #3dcfb6;
        @media (min-width: 1921px) {
          font-size: 32px;
        }
      }
      img {
        transition: 0.2s;
        margin-left: 20px;
      }
    }
  }
}

.on-hover {
  @media (max-width: 960px) {
    height: 26px;
    width: 50px;
  }
  @media (max-width: 450px) {
    width: 70px;
    font-size: 14px !important;
  }
  .inner-btn-cont {
    img {
      @media (min-width: 1921) {
        width: 24px;
      }
    }
  }
  position: relative;
  cursor: pointer;
  &:hover {
    border-color: #3dcfb6;
    span {
      color: #3dcfb6;
    }
    img {
      transform: translate(6px, -2px);
        }
  }
}